body{
  background-color: rgb(167, 205, 235);
}

#h1TitolHospital:hover{
  font-weight:bold;
  color: rgb(191, 0, 64);
  text-decoration: underline;
}
#dadesPacient:hover{
  font-weight:bold;
  color: rgb(191, 0, 64);
  text-decoration: ;
}

.text:hover{
  font-weight:bold;
  color: rgb(191, 0, 64);
  text-decoration: underline;
}
